<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topic</title>
</head>
<body>
    <CENter>
        <table border="4px">
        <h1>Topic</h1>
        <tr>
            <th>topic_name</th>
        </tr>
           
            {% for TO in Topics %}
            <tr>
                <td>{{ TO.topic_name }}</td>
            </tr>
            {% endfor %}
        </table>
    </CENter>
</body>
</html>